@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900|Special+Elite");
@import url("./materialize-css/dist/css/materialize.css");
:root {
  --primary-font: "Special Elite", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --header-font: "Cinzel Decorative", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a.active {
  color: red !important;
  animation-name: jello;
  animation-duration: .8s;
}
.certifications_fade-appear {
  animation-name: slideInRight;
  animation-duration: .3s;
}
